body {
  background-color: white;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: #111;
  line-height: 1.3;
  background-color: #fcfcfc;
  font-weight: 400;
}

header {
  height: 160pt;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  & .header-bg {
    /* background-color: #1565c0; */
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 2pt;
    overflow-x: hidden;
    opacity: 0.7;

    & .pill-container {
      /* background-color: #1565c0; */
      height: calc(100% / 6);
      width: 100%;
      display: flex;
      gap: 2pt;
      justify-content: center;

      & .pill {
        flex-shrink: 0;
        height: 100%;
        box-sizing: border-box;
        border-radius: 50%;
      }
    }
  }

  & h1 {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 24pt;

    & .pre-header {
      color: #444;
      font-size: 18pt;
    }
  }
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;

  & a {
    color: #1565c0;
  }

  & .image-container {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 16px 0;

    &:not(.no-ornamentation) {
      & img {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
      }
    }
    & img {
      max-width: 80%;
    }
  }

  & blockquote {
    font-size: 10pt;
    font-style: italic;
  }

  & strong {
    font-weight: 700;
  }

  & h2 {
    color: #333;
    font-size: 18pt;
  }

  & h3 {
    color: #555;
    font-size: 14pt;
    font-weight: 400;
  }

  section {
    background-color: white;
    padding: 8px 24px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 36px;
  }
}

.reagent {
  color: #3d1a96;
}

.planet-table {
  border-collapse: collapse;
  width: 100%;

  & td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  & img {
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }
}

.image-style-table {
  border-collapse: collapse;
  width: 100%;

  & td {
    text-align: center;
    padding: 8px;

    & img {
      width: 220px;
      height: 220px;

      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
  }
}

.quote-indent {
  margin-left: 24pt;
  padding-left: 12pt;
  border-left: 4px solid #ddd;
}

.admonition-info {
  background-color: #e3effa;
  border-left: 4px solid #1e90ff;
  padding: 8px 16px;
  margin: 16px 16px;
}

.admonition-warning {
  background-color: #fff6d8;
  border-left: 4px solid #ffc107;
  padding: 8px 16px;
  margin: 16px 16px;
}

.admonition-danger {
  background-color: #fadfe1;
  border-left: 4px solid #dc3545;
  padding: 8px 16px;
  margin: 16px 16px;
}

.left-right {
  display: flex;
  justify-content: space-between;
}

.caption {
  font-size: 10pt;
  color: #666;
  text-align: center;
  font-style: oblique;
}
